<button
pButton
type="button"
icon="pi pi-arrow-left"
label="Back"
class="p-button-text p-button-sm mb-3"
(click)="goBack()"
></button>
<p-card header="Edit Product" class="mb-4">

<form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="p-fluid">
     <div class="p-field mb-3">
      <label for="title">Title</label>
      <input id="title" type="text" pInputText formControlName="title" />
      <small *ngIf="f['title'].touched && f['title'].invalid" class="p-error">Title is required.</small>
    </div>
  
     <div class="p-field mb-3">
      <label for="price">Price</label>
      <input id="price" type="number" pInputText formControlName="price" />
      <small *ngIf="f['price'].touched && f['price'].invalid" class="p-error">Valid price is required.</small>
    </div>
  
     <div class="p-field mb-3">
      <label for="category">Category</label>
      <p-dropdown
        inputId="category"
        [options]="categories"
        formControlName="category"
        placeholder="Select a category"
      ></p-dropdown>
      <small *ngIf="f['category'].touched && f['category'].invalid" class="p-error">Category is required.</small>
    </div>
  
     <div class="p-field mb-3">
      <label for="description">Description</label>
      <textarea id="description" pInputTextarea formControlName="description" rows="3"></textarea>
      <small *ngIf="f['description'].touched && f['description'].invalid" class="p-error">Description is required.</small>
    </div>
  
     <div class="p-field mb-3">
      <label for="image">Image</label>
      <input id="image" type="file" (change)="onImageChange($event)" pInputText />
      <small *ngIf="f['image'].touched && f['image'].invalid" class="p-error">Image is required.</small>
    </div>
  
    <div *ngIf="imageUrl" class="mb-3">
      <img [src]="imageUrl" style="width: 100px; border: 1px solid #ccc;" />
    </div>
  
     <div class="flex gap-2">
         <button
          pButton
          type="submit" 
          label="Update"
          class="p-button-success p-button-sm w-fit"
          [disabled]="productForm.invalid"
        ></button>
      
         <button
          pButton
          type="button"
          label="Cancel"
          class="p-button-secondary p-button-sm w-fit"
          (click)="onCancel()"
        ></button>
      </div>
  </form>
</p-card>
 