 

<div class="flex align-items-center justify-content-between mb-3">
    <app-search (search)="onSearch($event)"></app-search>
     
  <button pButton label="Add Product" icon="pi pi-plus" class="p-button-secondary p-mr-2" (click)="router.navigate(['/products/add'])"></button>

     
</div>

<p-table
  [value]="products"
  [loading]="loading"
  [paginator]="true"
  [rows]="5"
  styleClass="small-font"
  responsiveLayout="scroll"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Category</th>
      <th>Description</th>
      <th>Image</th>
      <th>Actions</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-product>
    <tr>
      <td>{{ product['title'] }}</td>
      <td>${{ product['price'] }}</td>
      <td>{{ product['category' ]}}</td>
      <td>{{ product['description'] }}</td>
      <td><img [src]="product.image" alt="Product" width="50" /></td>
      <td class="flex items-center gap-2">
       

        <button pButton type="button"  class="p-button-success p-button-sm " (click)="router.navigate(['/products/edit', product.id])">Edit</button>
        <button
        pButton
        type="button"
        label="Delete"
        class="p-button-danger p-button-sm"
        (click)="confirmDelete(product.id)">
      </button>
      
      </td>
    </tr>
  </ng-template>
</p-table>
<p-confirmDialog></p-confirmDialog>


