 .page-bg {
    background: #020024;
    background: linear-gradient(171deg, rgba(2, 0, 36, 1) 0%, rgba(18, 148, 184, 1) 43%, rgba(0, 50, 71, 1) 100%);  }
  
     
  .card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    border-radius: 0.5rem; color:white;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);  }
  
   
  
  table tbody tr:hover {
    background-color: #f8f9fa;
    transform: scale(1.02);
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .btn-animate {
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  